[submodule "FFTConvolver"]
	path = FFTConvolver
	url = https://github.com/HiFi-LoFi/FFTConvolver.git
[submodule "cascaded_biquad"]
	path = cascaded_biquad
	url = https://github.com/fps/cascaded_biquad
